.projects-section {
  width: 100%;
  max-width: 1000px;
}

.projects-grid {
  display: flex;
  align-items: start;
}
    
.projects-grid.hidden {
  display: none;
}

.projects-spacer {
  width: 20px;
  height: 20px;
}

.projects-grid-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.projects-detailed-view {
  display: flex;
  flex-direction: row;
}
.projects-detailed-view.hidden {
  visibility: hidden;
}

.projects-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-details {
  flex: 2;
  padding: 10px;

  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.10);

  display: flex;
  flex-direction: column;
  align-items: start;
}


/* Project card */
.project-card {
  aspect-ratio: 1;

  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.10);

  /*for aligning title*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.project-card.shrink {
  aspect-ratio: 3;
}

.project-card:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.project_thumbnail {

  /* Centering */
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;


  /* Opacity and fade in */
  opacity: 0.5;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.project_thumbnail:hover {
  opacity: 0.8;
}

.project-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

  /* text-shadow: 0px 0px 5px rgba(255, 255, 255, 1); */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;

  z-index: 1;
}

/* Content inside project description */
.project-details-x {
  width: 30;
  height: 30;

  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.10);

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-details-x:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.project-details-x-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  user-select: none;
}
.project-details-header {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  align-items: start;
}
.figure_row {
  display: flex;
}
.project_figure {
  flex: 1;
  margin: 10 10;
}
.figure_image {
  width: 100%;
  height: auto;
}
.project_figure_video {
  margin: 10px 10px;
  width: calc(100% - 20px);
}
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
