.command {
    border:thin solid black;
    display:flex;
    margin-top:10px;
    height: fit-content;
    width: fit-content;
}
.command_id {
    /* margin:10px; */
    margin-left: 10px;
    margin-right: 10px;
}
.command_key {
    margin-left:10px;
}
.command_input {
    margin-left: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2px;
    width: 50px;
    height: fit-content;
}
.command_boolean {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 2px;
    width: 50px;
    height: fit-content;
}
.command_button {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
}
